%p#notice= notice
%h1 Listing Phone Number Groups
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @phone_number_groups.each do |phone_number_group|
      %tr
        %td= phone_number_group.name
        %td= link_to 'Show', phone_number_group
        %td= link_to 'Edit', edit_phone_number_group_path(phone_number_group)
        %td= link_to 'Destroy', phone_number_group, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Phone number group', new_phone_number_group_path
