%p#notice= notice
%p
  %strong Phone:
  = @phone_number.phone
%p
  %strong Area code:
  = @phone_number.area_code
= link_to 'Edit', edit_phone_number_path(@phone_number)
|
= link_to 'Back', phone_numbers_path
